
# Estudo de caso - Forest Fires dataset

<img src="https://nossaciencia.com.br/wp-content/uploads/2019/08/Queimada-Caatinga.jpg" width="300" style="">

- Forest fires é um dataset que conta com dados de queimadas em florestas pelo brasil.

- O intuíto é fazer um estudo de caso com esse dataset para aprender a usar melhor algumas das ferramentas de data science disponiveis.

  - **Pandas**
  - **NumPy**
  - **MatPlotLib**
  - **Seaborn**

## Questões a serem verificadas inicialmente

1. #### **Em qual mês há mais queimadas?**
2. #### **Qual ano houve mais queimadas no país?**

In [1]:
# Importing libs to data analysis, math, graphics and etc
import pandas             as pd
import matplotlib.pyplot  as plt
import numpy              as np

# usar seaborn

In [2]:
#Monte o drive caso precise usar/salvar arquivos do seu drive
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/Workspace/Dev/data_science/forest_fires_colab/datasets

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/Workspace/Dev/data_science/forest_fires_colab/datasets

## Organização do dataset

|  Ano   | Estado |   Mês    | Nº de queimadas |    Data     |
|:------:|:------:|:--------:|:--------------:|:-----------:|
| int64 | object | object | float64 | object

In [3]:
# Criando dataframe pandas a partir do dataset de queimadas
forest_fires = pd.read_csv('/content/drive/MyDrive/Workspace/Dev/data_science/forest_fires_colab/datasets/amazon.csv',  delimiter=',', encoding='windows-1252')
forest_fires

      year      state     month  number        date
0     1998       Acre   Janeiro     0.0  1998-01-01
1     1999       Acre   Janeiro     0.0  1999-01-01
2     2000       Acre   Janeiro     0.0  2000-01-01
3     2001       Acre   Janeiro     0.0  2001-01-01
4     2002       Acre   Janeiro     0.0  2002-01-01
...    ...        ...       ...     ...         ...
6449  2012  Tocantins  Dezembro   128.0  2012-01-01
6450  2013  Tocantins  Dezembro    85.0  2013-01-01
6451  2014  Tocantins  Dezembro   223.0  2014-01-01
6452  2015  Tocantins  Dezembro   373.0  2015-01-01
6453  2016  Tocantins  Dezembro   119.0  2016-01-01

[6454 rows x 5 columns]

In [4]:
# Informações de como o dataset está organizado
forest_fires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    6454 non-null   int64
 1   state   6454 non-null   object
 2   month   6454 non-null   object
 3   number  6454 non-null   float64
 4   date    6454 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 252.2+ KB

#### **Em qual mês há mais queimadas?**

In [ ]:
# Dados organizados em ordem baseado no numero de queimadas
forest_fires['number'].sort_values()
# Temos que a linha que contem o maior numero de queimadas é o indice 888

In [8]:
# Obtendo linha do dataframe correspondente ao maior numero de queimadas
forest_fires.iloc[888]

year            2008
state       Amazonas
month       Setembro
number         998.0
date      2008-01-01
Name: 888, dtype: object

In [ ]:
forest_fires['year'].sort_values()

#### **Qual ano houve mais queimadas no país?**

In [ ]:
new_forest_fires = forest_fires[['']]

In [6]:
forest_fires.isna()

       year  state  month  number   date
0     False  False  False   False  False
1     False  False  False   False  False
2     False  False  False   False  False
3     False  False  False   False  False
4     False  False  False   False  False
...     ...    ...    ...     ...    ...
6449  False  False  False   False  False
6450  False  False  False   False  False
6451  False  False  False   False  False
6452  False  False  False   False  False
6453  False  False  False   False  False

[6454 rows x 5 columns]

In [7]:
forest_fires.isna().sum()

year      0
state     0
month     0
number    0
date      0
dtype: int64